{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>CRUD API</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>CRUD API</h1>   
{{ end }}